@tailwind base;
@tailwind components;
@tailwind utilities;


::placeholder {
	color: red !important;
	opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
	/* Edge 12 -18 */
	color: red !important;
}
